@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  /* Applied styles for common HTML tags */
  h1 { @apply text-base-content text-4xl py-5 font-bold lg:text-6xl }
  h2 { @apply text-base-content text-3xl py-4 font-bold lg:text-4xl mt-8 }
  h3 { @apply text-base-content text-2xl py-3 font-bold lg:text-3xl mt-4 }
  h4 { @apply text-base-content text-xl py-2 font-bold lg:text-2xl mt-2 }
  h5 { @apply text-base-content text-lg py-1 font-bold lg:text-xl }
  h6 { @apply text-base-content text-base font-bold lg:text-lg }
  p { @apply text-base-content my-1 py-2 lg:text-xl }
  .text-link { @apply text-secondary underline decoration-2 hover:text-secondary-focus hover:decoration-4}
  #footer-md,
  #footer-md p { @apply text-neutral-content text-sm }
  #footer-md a { @apply font-bold  underline }

  /* Dropdowns */
  .navdrop { max-height: 80vh; }

}

/* markdown in footer */

/* Theme gradient */
.theme-gradient {
  background: var(--theme-gradient);
}
.theme-gradient.loading {
  animation-name: MOVE-BG;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  margin-top: 0;
  transition: margin-top 0.2s ease-out;
}
@keyframes MOVE-BG {
   from {
     background-position-x: 0;
   }
   to {
     background-position-x: -100vw;
   }
}

svg.eye path,
svg.eye circle {
  fill: #fff; 
  fill-opacity: 0;
  stroke: #000; 
  stroke-opacity: 0.5;
  stroke-width: 5px; 
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: fill-opacity 0.4s;
}
svg.eye.flash path,
svg.eye.flash circle {
  stroke-opacity: 1;
  fill-opacity: 0.3;
}
svg.eye.bold path,
svg.eye.bold circle {
  stroke-width: 35px; 
}
svg.eye.bold.active path,
svg.eye.bold.active circle {
  stroke: #0F0; 
}
svg.eye.bold.inactive path,
svg.eye.bold.inactive circle {
  stroke: #F00; 
}
svg.eye path:hover,
svg.eye circle:hover {
  cursor: pointer;
  stroke-width: 5px; 
}
svg.eye path.graded-0, 
svg.eye circle.graded-0 {
  stroke: #228B22; 
  fill: #228B22; 
}
svg.eye path.graded-1, 
svg.eye circle.graded-1 {
  stroke: #CDBB32; 
  fill: #CDBB32; 
}
svg.eye path.graded-2,
svg.eye circle.graded-2 {
  stroke: #FF9000; 
  fill: #FF9000; 
}
svg.eye path.graded-3, 
svg.eye circle.graded-3 {
  stroke: #FF2D00; 
  fill: #FF2D00; 
}
svg.eye text {
  font-size: 120px; 
  fill: #fff;
  fill-opacity: 0;
  stroke: none;
  text-anchor: middle;
  transition: fill-opacity 0.4s;
}
svg.eye text:hover {
  cursor: pointer;
}
svg.eye.flash text {
  fill-opacity: 1;
}
